matplotlib>=3.5.2
numpy>=1.22.3
setuptools>=57.0.0
torch>=1.12.0
torchvision>=0.13.0
tqdm>=4.64.0
h5py>=3.7.0
six>=1.16.0

psutil>=5.9.1
pandas>=1.4.3
scikit-learn>=1.1.1
h5py>=3.5.0

PythonBasicTools
unstable