matplotlib~=3.5.3
numpy~=1.23.2
tqdm~=4.64.0
scikit-learn~=1.1.2
umap~=0.1.1
scipy~=1.9.0
setuptools~=60.2.0
pandas~=1.4.3
plotly~=5.10.0
seaborn~=0.11.2
psutil~=5.9.1
six~=1.16.0
networkx~=2.8.6

torch>=1.12.1
torchvision>=0.13.1